<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>jenkins.diagnostics.SecurityIsOffMonitor</string>
  </disabledAdministrativeMonitors>
  <version>1.574</version>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.ProjectMatrixAuthorizationStrategy">
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:dandriana</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:dandriana</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:dandriana</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:dandriana</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:dandriana</permission>
    <permission>hudson.model.Computer.Build:dandriana</permission>
    <permission>hudson.model.Computer.Configure:dandriana</permission>
    <permission>hudson.model.Computer.Connect:dandriana</permission>
    <permission>hudson.model.Computer.Create:dandriana</permission>
    <permission>hudson.model.Computer.Delete:dandriana</permission>
    <permission>hudson.model.Computer.Disconnect:dandriana</permission>
    <permission>hudson.model.Hudson.Administer:dandriana</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:dandriana</permission>
    <permission>hudson.model.Hudson.Read:aalehyane</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.Read:bcoleman</permission>
    <permission>hudson.model.Hudson.Read:crezvani</permission>
    <permission>hudson.model.Hudson.Read:dandriana</permission>
    <permission>hudson.model.Hudson.Read:dummy</permission>
    <permission>hudson.model.Hudson.Read:mgauzins</permission>
    <permission>hudson.model.Hudson.Read:pristic</permission>
    <permission>hudson.model.Hudson.RunScripts:dandriana</permission>
    <permission>hudson.model.Hudson.UploadPlugins:dandriana</permission>
    <permission>hudson.model.Item.Build:aalehyane</permission>
    <permission>hudson.model.Item.Build:bcoleman</permission>
    <permission>hudson.model.Item.Build:crezvani</permission>
    <permission>hudson.model.Item.Build:dandriana</permission>
    <permission>hudson.model.Item.Build:dummy</permission>
    <permission>hudson.model.Item.Build:mgauzins</permission>
    <permission>hudson.model.Item.Build:pristic</permission>
    <permission>hudson.model.Item.Cancel:dandriana</permission>
    <permission>hudson.model.Item.Cancel:dummy</permission>
    <permission>hudson.model.Item.Cancel:mgauzins</permission>
    <permission>hudson.model.Item.Configure:dandriana</permission>
    <permission>hudson.model.Item.Create:dandriana</permission>
    <permission>hudson.model.Item.Create:mgauzins</permission>
    <permission>hudson.model.Item.Delete:dandriana</permission>
    <permission>hudson.model.Item.Discover:dandriana</permission>
    <permission>hudson.model.Item.Discover:dummy</permission>
    <permission>hudson.model.Item.Discover:mgauzins</permission>
    <permission>hudson.model.Item.Read:aalehyane</permission>
    <permission>hudson.model.Item.Read:anonymous</permission>
    <permission>hudson.model.Item.Read:bcoleman</permission>
    <permission>hudson.model.Item.Read:crezvani</permission>
    <permission>hudson.model.Item.Read:dandriana</permission>
    <permission>hudson.model.Item.Read:dummy</permission>
    <permission>hudson.model.Item.Read:mgauzins</permission>
    <permission>hudson.model.Item.Read:pristic</permission>
    <permission>hudson.model.Item.Workspace:dandriana</permission>
    <permission>hudson.model.Item.Workspace:dummy</permission>
    <permission>hudson.model.Item.Workspace:mgauzins</permission>
    <permission>hudson.model.Run.Delete:dandriana</permission>
    <permission>hudson.model.Run.Update:dandriana</permission>
    <permission>hudson.model.View.Configure:dandriana</permission>
    <permission>hudson.model.View.Configure:dummy</permission>
    <permission>hudson.model.View.Configure:mgauzins</permission>
    <permission>hudson.model.View.Create:dandriana</permission>
    <permission>hudson.model.View.Create:mgauzins</permission>
    <permission>hudson.model.View.Delete:dandriana</permission>
    <permission>hudson.model.View.Read:aalehyane</permission>
    <permission>hudson.model.View.Read:anonymous</permission>
    <permission>hudson.model.View.Read:bcoleman</permission>
    <permission>hudson.model.View.Read:crezvani</permission>
    <permission>hudson.model.View.Read:dandriana</permission>
    <permission>hudson.model.View.Read:dummy</permission>
    <permission>hudson.model.View.Read:mgauzins</permission>
    <permission>hudson.model.View.Read:pristic</permission>
    <permission>hudson.scm.SCM.Tag:dandriana</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULLNAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter" plugin="antisamy-markup-formatter@1.2">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>
  <jdks>
    <jdk>
      <name>JDK 1.6.0_31</name>
      <home>/usr/lib/jvm/java-6-openjdk-amd64</home>
      <properties/>
    </jdk>
    <jdk>
      <name>MacOS</name>
      <home>/System/Library/Java/JavaVirtualMachines/1.6.0.jdk/Contents/Home</home>
      <properties/>
    </jdk>
    <jdk>
      <name>MacOS_iOS6</name>
      <home>/Library/Java/JavaVirtualMachines/jdk1.7.0_60.jdk/Contents/Home</home>
      <properties/>
    </jdk>
    <jdk>
      <name>Java 7</name>
      <home>/usr/lib/jvm/java-7-openjdk-amd64</home>
      <properties/>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <slaves>
    <slave>
      <name>macos_ios6a</name>
      <description>Mac OS X 10.8.5 Mountain Lion + Xcode 4.6.3</description>
      <remoteFS>/Users/dandriana/jenkins_slave_unm_ios6a</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>EXCLUSIVE</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.6">
        <host>88.172.20.221</host>
        <port>22</port>
        <credentialsId>e1ae9453-ac0a-4f14-b14b-2fbf3cac79a9</credentialsId>
        <jvmOptions>-Djava.awt.headless=true</jvmOptions>
      </launcher>
      <label></label>
      <nodeProperties>
        <hudson.slaves.EnvironmentVariablesNodeProperty>
          <envVars serialization="custom">
            <unserializable-parents/>
            <tree-map>
              <default>
                <comparator class="hudson.util.CaseInsensitiveComparator"/>
              </default>
              <int>0</int>
            </tree-map>
          </envVars>
        </hudson.slaves.EnvironmentVariablesNodeProperty>
      </nodeProperties>
      <userId>dandriana</userId>
    </slave>
    <slave>
      <name>macos_ios7</name>
      <description>Mac OS X 10.9.4 Mavericks + Xcode 5.1.1</description>
      <remoteFS>/Users/dandriana/jenkins_slave_unm_ios7</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>EXCLUSIVE</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.6">
        <host>88.172.20.221</host>
        <port>22</port>
        <credentialsId>14ea0071-a9fb-4382-9d54-9a533ff8c85b</credentialsId>
        <jvmOptions>-Djava.awt.headless=true</jvmOptions>
      </launcher>
      <label></label>
      <nodeProperties>
        <hudson.slaves.EnvironmentVariablesNodeProperty>
          <envVars serialization="custom">
            <unserializable-parents/>
            <tree-map>
              <default>
                <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../../../slave/nodeProperties/hudson.slaves.EnvironmentVariablesNodeProperty/envVars/tree-map/default/comparator"/>
              </default>
              <int>0</int>
            </tree-map>
          </envVars>
        </hudson.slaves.EnvironmentVariablesNodeProperty>
      </nodeProperties>
      <userId>dandriana</userId>
    </slave>
    <slave>
      <name>ks3haxm</name>
      <description></description>
      <remoteFS>/home/dandriana/jenkins</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>EXCLUSIVE</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.6">
        <host>ks3haxm</host>
        <port>22</port>
        <credentialsId>a06f646c-3480-4660-84e7-ed01f42d12a2</credentialsId>
      </launcher>
      <label></label>
      <nodeProperties>
        <hudson.slaves.EnvironmentVariablesNodeProperty>
          <envVars serialization="custom">
            <unserializable-parents/>
            <tree-map>
              <default>
                <comparator class="hudson.util.CaseInsensitiveComparator"/>
              </default>
              <int>0</int>
            </tree-map>
          </envVars>
        </hudson.slaves.EnvironmentVariablesNodeProperty>
      </nodeProperties>
      <userId>dandriana</userId>
    </slave>
    <slave>
      <name>macos_ios7a</name>
      <description>Mac OS X 10.8.5 Mountain Lion + Xcode 5.1.1</description>
      <remoteFS>/Users/dandriana/jenkins_slave_unm_ios7a</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>EXCLUSIVE</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.6">
        <host>88.172.20.221</host>
        <port>22</port>
        <credentialsId>8a407adc-0a4e-4ef0-a4c9-d48663e023d2</credentialsId>
        <jvmOptions>-Djava.awt.headless=true</jvmOptions>
      </launcher>
      <label></label>
      <nodeProperties>
        <hudson.slaves.EnvironmentVariablesNodeProperty>
          <envVars serialization="custom">
            <unserializable-parents/>
            <tree-map>
              <default>
                <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../../../slave[3]/nodeProperties/hudson.slaves.EnvironmentVariablesNodeProperty/envVars/tree-map/default/comparator"/>
              </default>
              <int>0</int>
            </tree-map>
          </envVars>
        </hudson.slaves.EnvironmentVariablesNodeProperty>
      </nodeProperties>
      <userId>dandriana</userId>
    </slave>
  </slaves>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <description>&lt;h2&gt;Jobs Jenkins sur le projet UnivMobile&lt;/h2&gt;&#xd;
UnivMobile iOS :&#xd;
&lt;ul&gt;&#xd;
&lt;li&gt;Tableau de bord d’intégration continue :&#xd;
&lt;a href=&quot;http://univmobile.vswip.com/job/unm-devel-it/lastSuccessfulBuild/artifact/unm-devel-it/target/unm-ci-dump.html&quot;&gt;&#xd;
  UnivMobile iOS — Intégration continue&#xd;
&lt;/a&gt;&#xd;
&lt;li&gt;&#xd;
Captures d’écrans des tests d’intégration :&#xd;
&lt;a href=&quot;http://univmobile.vswip.com/job/unm-devel-it/lastSuccessfulBuild/artifact/unm-devel-it/target/unm-ios-it-scenarios-dump.html&quot;&gt;&#xd;
  UnivMobile iOS — Scénarios&#xd;
&lt;/a&gt;&#xd;
&lt;li&gt;&#xd;
Application mobile en test :&#xd;
&lt;a href=&quot;http://univmobile.vswip.com/ios/&quot;&gt;&#xd;
  UnivMobile iOS — Installations ad hoc&#xd;
&lt;/a&gt;&#xd;
&lt;/ul&gt;&#xd;
&#xd;
UnivMobile mobile web :&#xd;
&lt;ul&gt;&#xd;
&lt;li&gt;Tableau de bord d’intégration continue :&#xd;
&lt;a href=&quot;http://univmobile.vswip.com/job/unm-devel-it/lastSuccessfulBuild/artifact/unm-devel-it/target/unm-mobileweb-ci-dump.html&quot;&gt;&#xd;
  UnivMobile mobile web — Intégration continue&#xd;
&lt;/a&gt;&#xd;
&lt;li&gt;&#xd;
Captures d’écrans des tests d’intégration :&#xd;
&lt;a href=&quot;http://univmobile.vswip.com/job/unm-devel-it/lastSuccessfulBuild/artifact/unm-devel-it/target/unm-mobileweb-it-scenarios-dump.html&quot;&gt;&#xd;
  UnivMobile mobile web — Scénarios&#xd;
&lt;/a&gt;&#xd;
&lt;/ul&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>unm-ios</name>
      <description>&lt;h2&gt;Jobs Jenkins sur l’application iOS UnivMobile&lt;/h2&gt;&#xd;
GitHub: &lt;a href=&quot;https://github.com/univmobile/unm-ios&quot;&gt;https://github.com/univmobile/unm-ios&#xd;
&lt;/a&gt;&#xd;
&lt;p/&gt;&#xd;
Tableau de bord d’intégration continue :&#xd;
&lt;a href=&quot;http://univmobile.vswip.com/job/unm-devel-it/lastSuccessfulBuild/artifact/unm-devel-it/target/unm-ci-dump.html&quot;&gt;&#xd;
  UnivMobile iOS — Intégration continue&#xd;
&lt;/a&gt;&#xd;
</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../slaves/slave/nodeProperties/hudson.slaves.EnvironmentVariablesNodeProperty/envVars/tree-map/default/comparator"/>
        <string>unm-ios</string>
        <string>unm-ios-it</string>
        <string>unm-ios-it_ios6</string>
        <string>unm-ios-ut-results</string>
        <string>unm-ios-ut-results_up_to_date</string>
        <string>unm-ios_site</string>
        <string>unm-ios_xcode</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Maven Generated Sites</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../slaves/slave/nodeProperties/hudson.slaves.EnvironmentVariablesNodeProperty/envVars/tree-map/default/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*_site</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>unm-android</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../slaves/slave/nodeProperties/hudson.slaves.EnvironmentVariablesNodeProperty/envVars/tree-map/default/comparator"/>
        <string>Android-UnivMobile</string>
        <string>Android-UnivMobile_gradle</string>
        <string>unm-android-it</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>unm-devel</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../slaves/slave/nodeProperties/hudson.slaves.EnvironmentVariablesNodeProperty/envVars/tree-map/default/comparator"/>
        <string>unm-backend-mock</string>
        <string>unm-backend-mock_site</string>
        <string>unm-it-commons</string>
        <string>unm-it-commons_ios6</string>
        <string>unm-it-commons_ios7</string>
        <string>unm-it-parent</string>
        <string>unm-parent</string>
        <string>unm-parent_site</string>
        <string>unm-testutil</string>
        <string>unm-webapp-parent</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>unm-backend</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../slaves/slave/nodeProperties/hudson.slaves.EnvironmentVariablesNodeProperty/envVars/tree-map/default/comparator"/>
        <string>unm-backend</string>
        <string>unm-backend-app</string>
        <string>unm-backend-app-noshib</string>
        <string>unm-backend-core</string>
        <string>unm-backend-filter-noshib</string>
        <string>unm-backend-it</string>
        <string>unm-backend-parent</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>unm-integration</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../slaves/slave/nodeProperties/hudson.slaves.EnvironmentVariablesNodeProperty/envVars/tree-map/default/comparator"/>
        <string>unm-android-it</string>
        <string>unm-devel-it</string>
        <string>unm-ios-it</string>
        <string>unm-ios-it_ios6</string>
        <string>unm-ios-ut-results</string>
        <string>unm-ios-ut-results_up_to_date</string>
        <string>unm-it-commons_ios6</string>
        <string>unm-it-commons_ios7</string>
        <string>unm-mobileweb-it_ios6</string>
        <string>unm-mobileweb-it_ios7</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>unm-mobileweb</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../slaves/slave/nodeProperties/hudson.slaves.EnvironmentVariablesNodeProperty/envVars/tree-map/default/comparator"/>
        <string>unm-mobileweb-app</string>
        <string>unm-mobileweb-it_ios6</string>
        <string>unm-mobileweb-it_ios7</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>master</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../slaves/slave[3]/nodeProperties/hudson.slaves.EnvironmentVariablesNodeProperty/envVars/tree-map/default/comparator"/>
        <string>unm-ios-it_ios6_release</string>
        <string>unm-ios-it_release</string>
        <string>unm-ios_release</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*_release</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>parents</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../slaves/slave[3]/nodeProperties/hudson.slaves.EnvironmentVariablesNodeProperty/envVars/tree-map/default/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*-parent</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>develop</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.*(?&lt;!_release)</includeRegex>
      <recurse>false</recurse>
    </listView>
  </views>
  <primaryView>develop</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>