.classpath
.project
.settings/
.externalToolBuilders/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
.DS_Store
bin/
/bin
src/site/apt/
*/src/site/apt/
src/site/xhtml/
*/src/site/xhtml/

unm-backend-mock/.classpath
unm-backend-mock/.project
unm-backend-mock/.settings/
unm-backend-mock/target/
/bin
