<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Workspace:mgauzins</permission>
      <permission>hudson.model.Item.Workspace:dummy</permission>
      <permission>hudson.model.Item.Build:mgauzins</permission>
      <permission>hudson.model.Item.Build:dummy</permission>
      <permission>hudson.model.Item.Read:mgauzins</permission>
      <permission>hudson.model.Item.Read:dummy</permission>
      <permission>hudson.model.Item.Cancel:mgauzins</permission>
      <permission>hudson.model.Item.Cancel:dummy</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.2.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/univmobile/unm-ios</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <assignedNode>macos</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>MacOS</jdk>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>H/5 * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>mkdir -p build/
rm -f build/UnivMobile.ipa
/usr/libexec/Plistbuddy -c &quot;Add BUILD_DISPLAY_NAME string &apos;${BUILD_DISPLAY_NAME}&apos;&quot; UnivMobile/UnivMobile-Info.plist 
/usr/libexec/Plistbuddy -c &quot;Add BUILD_ID string &apos;${BUILD_ID}&apos;&quot; UnivMobile/UnivMobile-Info.plist 
/usr/libexec/Plistbuddy -c &quot;Add BUILD_NUMBER string &apos;${BUILD_NUMBER}&apos;&quot; UnivMobile/UnivMobile-Info.plist 
/usr/libexec/Plistbuddy -c &quot;Add GIT_COMMIT string &apos;${GIT_COMMIT}&apos;&quot; UnivMobile/UnivMobile-Info.plist 
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>xcodebuild -workspace UnivMobile.xcworkspace -scheme UnivMobile archive</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>. build/archive_paths.sh

xcodebuild -exportArchive -exportFormat IPA -archivePath &quot;${ARCHIVE_PATH}&quot; \
  -exportPath build/UnivMobile.ipa -exportProvisioningProfile UnivMobileAlphaProfile</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>build/UnivMobile.ipa</artifacts>
      <latestOnly>false</latestOnly>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
</project>