<?xml version="1.0" encoding="UTF-8"?><maven2-moduleset plugin="maven-plugin@2.5">
  <actions/>
  <description>GitHub: &lt;a href="https://github.com/univmobile/unm-devel/tree/master/unm-backend-mock"&gt;https://github.com/univmobile/unm-devel/tree/master/unm-backend-mock&#13;
&lt;/a&gt;&#13;
&lt;p&gt;&#13;
Maven Generated Site: &lt;a&#13;
  href="http://univmobile.vswip.com/nexus/content/sites/pub/unm-backend-mock/"&gt;http://univmobile.vswip.com/nexus/content/sites/pub/unm-backend-mock/&lt;/a&gt;&#13;
&lt;a&#13;
  href="http://univmobile.vswip.com/nexus/content/sites/pub/unm-backend-mock/0.0.1/"&gt;0.0.1-/&lt;/a&gt;&#13;
&lt;p&gt;&#13;
Maven Artifacts: &lt;a&#13;
  href="http://univmobile.vswip.com/nexus/content/repositories/releases/fr/univmobile/unm-backend-mock/"&gt;&#13;
  http://univmobile.vswip.com/nexus/content/repositories/releases/fr/univmobile/unm-backend-mock/&lt;/a&gt;&#13;
&lt;a&#13;
  href="http://univmobile.vswip.com/nexus/content/repositories/releases/fr/univmobile/unm-backend-mock/0.0.1/"&gt;0.0.1/&lt;/a&gt;&#13;
</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.2.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/univmobile/unm-devel.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>origin/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CleanBeforeCheckout/>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <jdk>Java 7</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>unm-backend-mock</customWorkspace>
  <rootModule>
    <groupId>fr.univmobile</groupId>
    <artifactId>unm-backend-mock</artifactId>
  </rootModule>
  <rootPOM>unm-backend-mock/pom.xml</rootPOM>
  <goals>-U clean site:jar deploy</goals>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <ignoreUpstremChanges>true</ignoreUpstremChanges>
  <archivingDisabled>false</archivingDisabled>
  <siteArchivingDisabled>false</siteArchivingDisabled>
  <fingerprintingDisabled>false</fingerprintingDisabled>
  <resolveDependencies>false</resolveDependencies>
  <processPlugins>false</processPlugins>
  <mavenValidationLevel>-1</mavenValidationLevel>
  <runHeadless>false</runHeadless>
  <disableTriggerDownstreamProjects>false</disableTriggerDownstreamProjects>
  <settings class="jenkins.mvn.DefaultSettingsProvider"/>
  <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
  <reporters/>
  <publishers/>
  <buildWrappers/>
  <prebuilders/>
  <postbuilders/>
  <runPostStepsIfResult>
    <name>FAILURE</name>
    <ordinal>2</ordinal>
    <color>RED</color>
    <completeBuild>true</completeBuild>
  </runPostStepsIfResult>
</maven2-moduleset>