<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.2.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/univmobile/unm-ios</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <assignedNode>macos</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>MacOS</jdk>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>H * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <au.com.rayh.XCodeBuilder plugin="xcode-plugin@1.4.2">
      <cleanBeforeBuild>true</cleanBeforeBuild>
      <cleanTestReports>false</cleanTestReports>
      <configuration>Distribution</configuration>
      <target></target>
      <sdk></sdk>
      <symRoot></symRoot>
      <configurationBuildDir>${WORKSPACE}/target</configurationBuildDir>
      <xcodeProjectPath></xcodeProjectPath>
      <xcodeProjectFile></xcodeProjectFile>
      <xcodebuildArguments></xcodebuildArguments>
      <xcodeSchema>UnivMobile</xcodeSchema>
      <xcodeWorkspaceFile>UnivMobile</xcodeWorkspaceFile>
      <embeddedProfileFile>UnivMobileAlphaProfile</embeddedProfileFile>
      <cfBundleVersionValue></cfBundleVersionValue>
      <cfBundleShortVersionStringValue></cfBundleShortVersionStringValue>
      <buildIpa>true</buildIpa>
      <generateArchive>true</generateArchive>
      <unlockKeychain>false</unlockKeychain>
      <keychainName>none (specify one below)</keychainName>
      <keychainPath></keychainPath>
      <keychainPwd></keychainPwd>
      <codeSigningIdentity></codeSigningIdentity>
      <allowFailingBuildResults>false</allowFailingBuildResults>
      <ipaName>UnivMobile</ipaName>
      <ipaOutputDirectory></ipaOutputDirectory>
      <provideApplicationVersion>false</provideApplicationVersion>
    </au.com.rayh.XCodeBuilder>
    <au.com.rayh.XCodeBuilder plugin="xcode-plugin@1.4.2">
      <cleanBeforeBuild>false</cleanBeforeBuild>
      <cleanTestReports>false</cleanTestReports>
      <configuration>Debug</configuration>
      <target></target>
      <sdk>iphonesimulator7.1</sdk>
      <symRoot></symRoot>
      <configurationBuildDir>${WORKSPACE}/target</configurationBuildDir>
      <xcodeProjectPath></xcodeProjectPath>
      <xcodeProjectFile></xcodeProjectFile>
      <xcodebuildArguments>test -destination OS=7.1,name=&quot;iPhone Retina (4-inch)&quot;</xcodebuildArguments>
      <xcodeSchema>UnivMobile</xcodeSchema>
      <xcodeWorkspaceFile>UnivMobile</xcodeWorkspaceFile>
      <embeddedProfileFile></embeddedProfileFile>
      <cfBundleVersionValue></cfBundleVersionValue>
      <cfBundleShortVersionStringValue></cfBundleShortVersionStringValue>
      <buildIpa>false</buildIpa>
      <generateArchive>false</generateArchive>
      <unlockKeychain>false</unlockKeychain>
      <keychainName>none (specify one below)</keychainName>
      <keychainPath></keychainPath>
      <keychainPwd></keychainPwd>
      <codeSigningIdentity></codeSigningIdentity>
      <allowFailingBuildResults>false</allowFailingBuildResults>
      <ipaName></ipaName>
      <ipaOutputDirectory></ipaOutputDirectory>
      <provideApplicationVersion>false</provideApplicationVersion>
    </au.com.rayh.XCodeBuilder>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>target/UnivMobile.ipa</artifacts>
      <latestOnly>false</latestOnly>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>*/test-reports/*.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
  </publishers>
  <buildWrappers/>
</project>