<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>30</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Delete:mgauzins</permission>
      <permission>hudson.model.Item.Read:mgauzins</permission>
      <permission>hudson.model.Item.Discover:mgauzins</permission>
      <permission>hudson.model.Item.Configure:mgauzins</permission>
      <permission>hudson.model.Item.Workspace:mgauzins</permission>
      <permission>hudson.model.Item.Build:mgauzins</permission>
      <permission>hudson.model.Item.Cancel:mgauzins</permission>
      <permission>hudson.scm.SCM.Tag:mgauzins</permission>
      <permission>hudson.model.Run.Update:mgauzins</permission>
      <permission>hudson.model.Run.Delete:mgauzins</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.2.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>UnivMobile</name>
        <url>https://github.com/univmobile/unm-android</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>UnivMobile/develop</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <jdk>Java 7</jdk>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>H/5 * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cp UnivMobile/local.properties_jenkins UnivMobile/local.properties
cp google-play-services/google-play-services_lib/local.properties_jenkins google-play-services/google-play-services_lib/local.properties</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Ant plugin="ant@1.2">
      <targets>add-variables
clean-all
release -propertyfile /opt/android-sdk-linux/keystore.properties</targets>
      <antName>Ant 1.9.4</antName>
      <buildFile>UnivMobile/build.xml</buildFile>
      <properties>sdk.dir=/opt/android-sdk-linux/
project.build.directory=UnivMobile
GIT_COMMIT=${GIT_COMMIT}
BUILD_ID=${BUILD_ID}
BUILD_DISPLAY_NAME=${BUILD_DISPLAY_NAME}</properties>
    </hudson.tasks.Ant>
    <hudson.tasks.Ant plugin="ant@1.2">
      <targets>add-variables
clean-classes
debug</targets>
      <antName>Ant 1.9.4</antName>
      <buildFile>UnivMobile/build.xml</buildFile>
      <properties>sdk.dir=/opt/android-sdk-linux/
project.build.directory=UnivMobile
GIT_COMMIT=${GIT_COMMIT}
BUILD_ID=${BUILD_ID}
BUILD_DISPLAY_NAME=${BUILD_DISPLAY_NAME}</properties>
    </hudson.tasks.Ant>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>**/*.apk</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
</project>